<section class="redax-container">
	<button class="add-button" (click)="add_hidden=false">Add student</button>
	<br>
	<label for="change-mode">Table change mode: </label>
	<input type="checkbox" name="change-mode" id="change-mode" (click)="changeMode()">
	<p>To change a student in edit mode, click on the student in the table.</p>
</section>
<section class="add-form-container hidden modal-window" [class.hidden]="add_hidden">
	<div class="modal-container">
		<h2>Add student</h2>
		<form novalidate class="add_form" (ngSubmit)="add()">
			<fieldset [formGroup]="fullNameControl">
				<div class="form-element-container">
					<label>Name: </label>
					<input type="text" name="name" formControlName="nameControl">
				</div>
				<div class="form-element-container">
					<label>Surname: </label>
					<input type="text" name="surname" formControlName="surnameControl">
				</div>
				<div class="form-element-container">
					<label>Patronymic: </label>
					<input type="text" name="patronymic" formControlName="patronymicControl">
				</div>
			</fieldset>
			<div class="form-element-container">
				<label>Date of birth: </label>
				<input type="date" name="date" [formControl]="dateControl">
			</div>
			<div class="form-element-container">
				<label>Avenge score: </label>
				<input type="number" step="0.1" name="score" [formControl]="scoreControl">
			</div>
			<pre class="desc-value invalid">{{add_value}}</pre>
			<br>
			<input type="submit" class="add" value="Add" id="add">
		</form>
		<img src="close.svg" alt="close" class="close" (click)="add_hidden=true">
	</div>
</section>
<section class="change-form-container hidden modal-window" [class.hidden]="change_hidden">
	<div class="modal-container">
		<h2>Change student</h2>
		<form novalidate class="change-form" (ngSubmit)="change()">
			<fieldset [formGroup]="changeFullNameControl">
				<div class="form-element-container">
					<label>Name: </label>
					<input type="text" name="name" formControlName="changeNameControl">
				</div>
				<div class="form-element-container">
					<label>Surname: </label>
					<input type="text" name="surname" formControlName="changeSurnameControl">
				</div>
				<div class="form-element-container">
					<label>Patronymic: </label>
					<input type="text" name="patronymic" formControlName="changePatronymicControl">
				</div>
			</fieldset>
			<div class="form-element-container">
				<label>Date of birth: </label>
				<input type="date" name="date" [formControl]="changeDateControl">
			</div>
			<div class="form-element-container">
				<label>Avenge score: </label>
				<input type="number" step="0.1" name="score" [formControl]="changeScoreControl">
			</div>
			<pre class="desc-value invalid">{{change_value}}</pre>
			<br>
			<input type="submit" class="change" value="Change" id="change">
		</form>
		<img src="close.svg" alt="close" class="close" (click)="change_hidden=true">
	</div>
</section>