<section class="change-window">
	<label for="show">Show students with score < 3: </label>
	<input type="checkbox" name="show" id="show" (click)="show()">
	<hr>
	<label for="surname">Search by last name: </label>
	<input type="text" name="surname" (input)="changeStr($event)" id="surname" placeholder="Surname">
	<hr>
	<h2>Filter</h2>
	<div class="filter">
		<label>Filter by average score: </label>
		<select (change)="changeFilterScore($event)">
			<option value=">">></option>
			<option value="<"><</option>
			<option value="=">=</option>
		</select>
		<input type="number" name="score" (input)="changeScoreInput($event)" placeholder="Average score">
	</div>
	<div class="filter">
		<label>Filter by date of birth: </label>
		<select (change)="changeFilterDate($event)">
			<option value=">">></option>
			<option value="<"><</option>
			<option value="=">=</option>
		</select>
		<input type="date" name="date" (input)="changeDateInput($event)">
	</div>
	<button id="filter" (click)="studentsService.filter()">Filter</button>
	<button id="reset" (click)="reset()">Reset</button>
</section>
<section class="last-changes">
	<p>last modified name: {{nameChangedStudent}} </p>
	<p>Last name added: {{nameAddedStudent}} </p>
</section>
<section class="table-window">
	<table>
		<thead>
			<tr>
			    <th>№</th>
			    <th (click)="sortName()">Name</th>
			    <th (click)="sortSurname()">Surname</th>
			    <th (click)="sortPatronymic()">Patronymic</th>
			    <th (click)="sortDate()">Date of birth</th>
			    <th (click)="sortScore()">Average score</th>
			    <th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of studentsService.studentsList; let index = index" (click)="child.changeStudent($event, index); nameChangeStudent=studentsService.studentsList[index].Name">
				<td [class.red]="isRed(item.Average_score)" [class.blue]="search(item.Surname)">{{index + 1}}</td>
				<td [class.red]="isRed(item.Average_score)" [class.blue]="search(item.Surname)">{{item.Name}}</td>
				<td [class.red]="isRed(item.Average_score)" [class.blue]="search(item.Surname)">{{item.Surname}}</td>
				<td [class.red]="isRed(item.Average_score)" [class.blue]="search(item.Surname)">{{item.Patronymic}}</td>
				<td years [class.red]="isRed(item.Average_score)" [class.blue]="search(item.Surname)">{{item.Date_of_birth | date: 'dd.MM.yyyy'}}</td>
				<td filter-color [class.red]="isRed(item.Average_score)" [class.blue]="search(item.Surname)">{{item.Average_score}}</td>
				<td [class.red]="isRed(item.Average_score)" [class.blue]="search(item.Surname)"><img (click)="delete(index)" alt="close" src="close.svg"></td>
			</tr>
		</tbody>
	</table>
</section>
<div class="hidden modal-window" [class.hidden]="!modalwindow">
	<div class="modal-container">
		<label>Are you sure?</label>
		<br>
		<button class="yes" (click)="deleteRow(true)">Yes</button>
		<button class="no" (click)="deleteRow(false)">No</button>
	</div>
</div>
<app-student-form [nameChangeStudent]="nameChangeStudent" (nameChangedStudent)="showChangedName($event)" (nameAddedStudent)="showAddedName($event)"></app-student-form>